<%-include('../layouts/header')%>
<%- include('../partials/admin-header')%>
<div class="header" style="margin-top: 80px;">
  <h1>Categories And Brands</h1>
</div>
<%- include('../partials/admin-canvas')%>
<div class="container">
    <div class="d-flex justify-content-between">
        <h1 class="icons">Categories</h1>
        <a href="/admin/addcategory"><button class="btn btn-success">ADD CATEGORY</button></a>

    </div>
    <div class="container">
        <div class="row">
          <% categories.forEach(function(category) { %>
            <div class="col-md-2">
              <div class="card mb-4">
                <img src="/uploads/<%= category.image %>" class="card-img-top" alt="<%= category.Name %>">
                <div class="card-body d-flex flex-column justify-content-between"style=" height: 25vh;">
                  <h5 class="card-title"><%= category.Name %></h5>
                  
                  <% if (category.DiscountAmount) { %>
                    <div class="discount-amount">
                      <span class="discount-label">Discount Amount:</span>
                      <span class="discount-value"><%= category.DiscountAmount %></span>
                    </div>
                  <% } %>
                  <div class="category-actions">
                    <a href="/admin/editCategory/<%= category._id %>" class="btn btn-primary">Edit</a>
                    <!-- <a href="/admin/delete/<%= category._id %>" class="btn btn-danger">Delete</a> -->
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>


      <div class="d-flex justify-content-between">
        <h1 class="icons">Brands</h1>
        <a href="/admin/addbrand"><button class="btn btn-success">ADD BRAND</button></a>

    </div>
    <div class="container">
        <div class="row">
          <% brands.forEach(function(brand) { %>
            <div class="col-md-2">
              <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <h5 class="card-title"><%= brand.Name %></h5>
                    </div>
                  <div class="brand-actions">
                    <a class="text-decoration-none" href="/admin/editBrand/<%= brand._id %>" >Edit</a>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
      
</div>

<%- include('../layouts/footer') %>