<%- include('../layouts/header')%> <%- include('../partials/user-header')%>
<section>
  <h1
    class="text-center"
    style="text-shadow: 2px 2px 5px rgb(101, 226, 101); color: rgb(225, 65, 65)"
  >
    SHOP
  </h1>
  <button
    class="btn btn-outline-primary"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#staticBackdrop"
    aria-controls="staticBackdrop"
  >
    <i class="fa-solid fa-sliders"></i>
    FILTERS
  </button>
  <div
    class="offcanvas offcanvas-start"
    data-bs-backdrop="static"
    tabindex="-1"
    id="staticBackdrop"
    aria-labelledby="staticBackdropLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">FILTERS</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body p-0">
      <ul class="list-group">
        <li class="list-group-item category-item">
          Category
          <ul class="list-group subcategory-list">
            <% categories.forEach(function(category) { %>
            <li class="list-group-item">
              <a href="/category/<%= category._id %>"><%= category.Name %></a>
            </li>
            <% }) %>
          </ul>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item brand-item">
          Brand
          <ul class="list-group subbrand-list">
            <% brands.forEach(function(brand) { %>
            <li class="list-group-item">
              <a href="/brand/<%= brand._id %>"><%= brand.Name %></a>
            </li>
            <% }) %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <% products.forEach(function(product) { %>
      <div class="col-md-3 col-sm-6 mb-4 equal-width">
        <div class="card tickerTimes">
          <img
            src="/uploads/<%= product.images[0] %>"
            class="card-img-top"
            style="height: 40vh"
            alt=""
          />
          <div
            class="card-body d-flex flex-column justify-content-between"
            style="height: 30vh"
          >
            <h6 class="card-title text-center product-name"><%= product.ProductName %></h6>
            <div class="d-flex flex-column justify-content-center">
              <% if (product.AvailableQuantity === 0) { %>
              <div style="background-color: red">
                <p class="card-text text-center text-light">Out of Stock</p>
              </div>
              <% } else { %>
              <p class="card-text text-center">Price ₹<%= product.Price %></p>
              <a
                href="/product/<%= product._id %>"
                class="btn btn-primary text-center"
                >View Details</a
              >
              <%}%>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <% if (products.length > 0) { %>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <p>
        Showing <%= (currentPage - 1) * perPage + 1 %>- <% if(currentPage ===
        totalPages){%> <%=totalCount%> <%}else{%> <%= currentPage * perPage %>
        <%}%> results from <%= totalCount %>
      </p>
      <ul class="pagination">
        <%if(currentPage === 1){%> <%}else{%>
        <li
          class="page-item <%= currentPage === currentPage ? 'active' : '' %>"
        >
          <a class="page-link" href="?page=<%=currentPage-1%>"> prev </a>
        </li>
        <%}%>
        <li class="page-item <%= currentPage === currentPage ? '' : '' %>">
          <a class="page-link" href="?page=<%=currentPage%>"
            ><%= currentPage %></a
          >
        </li>
        <li
          class="page-item <%= currentPage === currentPage ? 'active' : '' %>"
        >
          <a class="page-link" href="?page=<%=currentPage+1%>"> next</a>
        </li>
      </ul>
    </div>
    <% } else { %>
    <p>No results found.</p>
    <% } %>
  </div>
</section>

<style>
  .product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sidebar {
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
  }

  .list-group-item:hover {
    background-color: #e9ecef;
  }

  .subcategory-list,
  .subbrand-list {
    display: none;
  }
</style>
<script>
  const categoryItems = document.querySelectorAll(".category-item");

  categoryItems.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const subcategoryList = item.querySelector(".subcategory-list");
      if (subcategoryList) {
        subcategoryList.style.display = "block";
      }
    });

    item.addEventListener("mouseleave", () => {
      const subcategoryList = item.querySelector(".subcategory-list");
      if (subcategoryList) {
        subcategoryList.style.display = "none";
      }
    });
  });

  // Define brandItems and add event listeners for brand items
  const brandItems = document.querySelectorAll(".brand-item");

  brandItems.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const subbrandList = item.querySelector(".subbrand-list");
      if (subbrandList) {
        subbrandList.style.display = "block";
      }
    });

    item.addEventListener("mouseleave", () => {
      const subbrandList = item.querySelector(".subbrand-list");
      if (subbrandList) {
        subbrandList.style.display = "none";
      }
    });
  });
</script>

<%- include('../layouts/footer') %>
