<%- include('../layouts/header') %>
<%- include('../partials/user-header') %>
<div class="modal fade tickerTimes" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changePasswordModalLabel">Change password</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="flashMessage" class="alert alert-danger" style="display: none;"></div>
          <div class="modal-body">
            <form id="passwordChangeForm">
                <div class="form-group">
                    <label for="currentPassword">Current Password:</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" class="form-control" id="password" name="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" id="changePasswordButton">Save</button>
            </form>
          </div>
        </div>
    </div>
</div>
<div class="container tickerTimes">
  <h1 class="text-center tickerTimes">YOUR PROFILE</h1>
  <div class="row mb-4 mt-3">
    <div class="card p-4">
    <div class="col-lg-10">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" value="<%= user.Username %>" readonly>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" value="<%= user.Email %>" readonly>
      </div>
      <br>
      <button  class="btn btn-info" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
        <i class="fas fa-plus-circle"></i> Change password
       </button>
    </div>
    </div>
  </div>
  <div class="card p-3 text-center">
    <div class="wallet-header">Your Wallet Balance</div>
    <div class="wallet-balance">₹<%=user.WalletAmount%></div>
    <a class="btn text-dark d-flex-column  border-0">
      <div class="wallet-header"> 
        Refer to your friends and earn Rs:100  in each.
      </div>
        <div>
        <h6>Your referral link : </h6>
        <h6 class="text-primary" id="referral-link">localhost:3000/signup/<%=user._id%> </h6>
        </div>
        <div class="p-4">
        <button id="copyButton" class="fa fa-copy fa-xl  border-0"></button>
        </div>
      <span id="copySuccessMessage" class="d-none fw-bold text-success"> Text copied to clipboard! </span>
    </a> 
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6  col-12">
        <a class="text-decoration-none" href="/orderList">
            <div class="card text-center  mb-3" style="background: linear-gradient(215deg, rgb(212, 102, 255), rgb(240, 220, 131)); height: 30vh;">
                <div class="card-header">
                    <img src="/images/order-box-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body ">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                        Orders History
                       
                    </h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <a class="text-decoration-none" href="/cart">
            <div class="card text-center mb-3" style="background: linear-gradient(215deg, rgb(212, 102, 255), rgb(240, 220, 131)); height: 30vh;">
                <div class="card-header">
                    <img src="/images/cart-card-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                        Cart
                        
                    </h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
        <a class="text-decoration-none" href="/editAddress">
            <div class="card text-center  mb-3" style="background: linear-gradient(215deg, rgb(212, 102, 255), rgb(240, 220, 131)); height: 30vh;">
                <div class="card-header">
                    <img src="/images/address-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                        Address 
                    </h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6  col-12">
        <a class="text-decoration-none" href="">
            <div class="card text-center mb-3" style="background: linear-gradient(215deg, rgb(212, 102, 255), rgb(240, 220, 131)); height: 30vh;">
                <div class="card-header">
                    <img src="/images/wishlist-card-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                        Wishlist
                       
                    </h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6  col-12">
        <a class="text-decoration-none" href="">
            <div class="card text-center mb-3" style="background: linear-gradient(215deg, rgb(212, 102, 255), rgb(240, 220, 131)); height: 30vh;">
                <div class="card-header">
                    <img src="/images/review-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                      My ReviewS 
                        
                    </h2>
                </div>
            </div>
        </a>
    </div>
    
</div>
</div>


<style>
  .card {
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
      0 2px 6px 0 rgb(206 206 238 / 54%);
  }
  .profile-picture {
    text-align: center;
  }
  .profile-image {
    width: 150px;
    height: 150px;
    background-color: #ccc; /* Default background color */
    border-radius: 50%; /* Creates a circle */
    display: inline-block;
  }
  .profile-upload-btn {
    margin-top: 8px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .wallet-header {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
}

.wallet-balance {
    font-size: 36px;
    color: #28a745;
    margin-bottom: 30px;
}

.wallet-buttons {
    display: flex;
    justify-content: center;
}

.wallet-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.wallet-button:hover {
    background-color: #0056b3;
}
</style>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
  document.getElementById("copyButton").addEventListener("click", function () {
  const referralLink = document.getElementById("referral-link").textContent;

  const tempInput = document.createElement("input");
  tempInput.value = referralLink;
  document.body.appendChild(tempInput);

  tempInput.select();
  document.execCommand("copy");

  document.body.removeChild(tempInput);

  const successMessage = document.getElementById("copySuccessMessage");
  successMessage.classList.remove("d-none");

  setTimeout(function () {
    successMessage.classList.add("d-none");
  }, 3000);
});

    $("#passwordChangeForm").submit((e) => {
  e.preventDefault();
  $.ajax({
    url: '/changePassword',
    method: 'post',
    data: $('#passwordChangeForm').serialize(),
    success: (response) => {
      if (response.success) {
        console.log('Password changed successfully');
        // Close the modal
        $('#changePasswordModal').modal('hide');

        alert('Password changed successfully');
      } else {
        $('#flashMessage').text(response.error).show();
      }
    },
    error: (xhr, status, error) => {
      console.log('Error:', error);
      $('#flashMessage').text('An error occurred. Please try again.').show();
    }
  });
});
</script>
<%- include('../layouts/footer') %>
